@use "../../utils/mixins";
@use "../../utils/variables";
@use "../../components/slider-accordion";

.section-values {
  padding-top: 100px;
  color: #223649;
  overflow: hidden;
}

.values-list {
  display: flex;
  gap: 16px;
  padding-top: 85px;
  padding-bottom: 70px;
  width: 83.33%;
  margin-left: auto;
}

.card-values {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.36;
  border-radius: 20px;
  padding: 62px 36px;
  flex-shrink: 1;
  width: 33.33%;
  &__thumb {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    padding-top: 32px;
  }

  &__text {
    padding-left: 16px;
  }
}

.counter {
  &__item {
    display: flex;
  }

  .suffix,
  &__number {
    font-weight: 400;
    font-size: 55px;
    line-height: 1.44;
  }

  &__description {
    margin-left: 16px;
  }

  &__item {
    padding-bottom: 32px;
    border-bottom: 1px solid #B1DEEE;
    align-items: baseline;
  }
}




