@use "../../utils/mixins";
@use "../../utils/variables";

.section-philosophy {
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .section__text {
    margin-bottom: 67px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .section-philosophy .section__text {
    margin-bottom: 32px;
  }
}