@use "../utils/mixins";
@use "../utils/variables";
//h2,
.heading {
  font-weight: 400;
  font-size: 45px;
  line-height: 1.18;

  &_xxl {

  }

  //h1,
  &_lg {
    font-size: 64px;
    line-height: 0.95;

    font-weight: 500;
  }

  &_md {

  }
}

//---------
.text {

  &_xl {

  }

  &_lg {

  }

}

@include mixins.respond-to(variables.$xl) {
 .section .heading {
    font-size: 32px;
  }
}
@include mixins.respond-to(variables.$lg) {
  .heading {
    font-size: 30px;
  }
}
@include mixins.respond-to(variables.$md) {
  .heading {
    font-size: 32px;
  }
  .heading_lg{
    font-size: clamp(24px, 2.28px + 5.57vw, 45px);
  }
}

@include mixins.respond-to(variables.$sm) {

}


@include mixins.respond-to(variables.$xs) {

}








