@use "../utils/mixins";
@use "../utils/variables";

.footer {
  position: relative;
  background-color: #11728F;
  padding-top: 88px;
  margin-top: -30px;
  z-index: 0;
  padding-bottom: 34px;
  a {
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  &_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 45px;
  }

  &_bottom {
    padding-top: 85px;
    color: #EFEFEF;
    font-size: 14px;
    line-height: 1.2;
  }

  .form,
  &__menu {
    display: flex;
  }

  &__menu-item {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #D3EAF3;
    text-transform: uppercase;
    margin-right: 32px;
  }

  &__img {
    width: 100%;
    img{
      display: block;
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    margin: 0 -23px;
  }

  &__contacts-item {
    padding: 0 40px;
    width: auto;
  }

  &__target-block {
    border: 1px solid #223649;
    background-color: #D3EAF3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
    color: #223649;
    margin: 0 17px;
    &:active {
      transform: scale(0.99);
      background-color: #b8d9e6;
      box-shadow: inset 0 2px 4px rgba(34, 54, 73, 0.2);
      border-color: #1a2a39;
    }
  }
}

@include mixins.respond-to(variables.$xl) {

}

@include mixins.respond-to(variables.$screen-md) {

}

@include mixins.respond-to(variables.$md) {

}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}

@include mixins.respond-to(variables.$xxs) {

}